*{ 
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

body {
	background:url(images/fon.jpg) no-repeat top;
	background-attachment: fixed;
	font-size: 14px;
	color: #333333;
	font-family: gothamproregular;
}

a {
	text-decoration: none;
	color: #fff;
}

div.over{
	width: 100%;
	position: relative;
	overflow: hidden;
	float: left;
}



div.header {
	width: 100%;
	text-align: center;
	float: left;
}


div.name {
	margin: 35px 30px 30px 0px;
	padding: 0px 45px 0px 0px;
	font-size: 30px;
	color: #fff;
	font-family: trajanpro3-regular;
	position: relative;
	display: inline-block;
}
.name:before {
	content:"";
	position: absolute;
	top: -11px;
	right: 0px;
	bottom: -7px;
	z-index: 2;
	border-left: 1px solid rgba(255,255,255,0.2);
}
.name span {
	color: #f6cb0b;
}


div.main_menu {
	display: inline-block;
}
ul {
	list-style-type: none;
}
.main_menu li {
	margin: 0px 15px;
	float: left; 
}
.main_menu li a { 
    font-size: 17px;
	opacity: 0.6;
	display: block;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.main_menu li a:hover { 
	opacity: 1;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

li.act a { 
	text-shadow: 0px 0px 10px #f6cb0b;
	opacity: 1;
	color: #f6cb0b;
}



div.main_bl {
	background:url(images/main_bl.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 750px;
	max-height: 750px;
	position: relative;
	float: left;
}
div.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -146px 0px 0px -152px;
}
.logo img {
	opacity: 0.5;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.logo span {
	background:rgba(0,0,0,0.0);
	position: relative;
	display: block;
	cursor:pointer;
}
.logo span:before,
.logo span:after {
	background:url(images/logo_flash.png);
	background-size: 100%;
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 1;
	animation: blink1 6s linear infinite;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
@keyframes blink1 {
  0%,100% {
    opacity:0;
  }
  50% { 
    opacity:1;
  }
}

.logo span:after {
	background:url(images/logo_hov.png);
	opacity: 0;
	animation: none;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}


.logo span:hover:after {
	opacity: 1;
}
.logo:hover img {
	opacity: 0;
}
.logo span:hover:before {
	display: none;
}




div.media {
	width: auto;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 50px;
	z-index: 2011;
	opacity: 0;
	transform:         scale(0);   
	-ms-transform:     scale(0);  
	-moz-transform:    scale(0); 
	-o-transform:      scale(0); 
	-webkit-transform: scale(0);
	-o-transition:      all 0.8s linear;
	-moz-transition:    all 0.8s linear;
	-webkit-transition: all 0.8s linear;
	transition:         all 0.8s linear;
	transition-timing-function: cubic-bezier(.22, .81, .01, .99);
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:	        none;
}


div.media_in {
	transform:         scale(1);   
	-ms-transform:     scale(1);  
	-moz-transform:    scale(1); 
	-o-transform:      scale(1); 
	-webkit-transform: scale(1);
	opacity: 1;
}

.media div.close {
    background: none;
    width: 50px;
    height: 50px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
}
.media .close:before,
.media .close:after {
	content:"";
    background:#fff;
    width: 1px;
    height: 31px;
    position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0px 0px -1px;
}


div.close {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor:pointer;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.close:before,
.close:after {
	content:"";
    background:#333;
    width: 1px;
    height: 21px;
    position: absolute;
	top: 0;
	left: 50%;
	-moz-transform:    rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:      rotate(45deg);
	-ms-transform:     rotate(45deg);
	transform:         rotate(45deg);
}
.close:after {
	-moz-transform:    rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform:      rotate(-45deg);
	-ms-transform:     rotate(-45deg);
	transform:         rotate(-45deg);
}





div.slogan {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -230px 0px 0px 100px;
	text-align: right;
	color: #fff;
	float: left;
}
.slogan p {
	text-transform: uppercase;
	font-size: 27px;
	font-family: 'trajanpro3-regular';
}
.slogan span {
	font-size: 24px;
	display: block;
	margin: 5px 0px 25px 0px;
}




div.arr {
    line-height: 61px;
    font-size: 31px;
    color: #fff;
    text-align: center;
    font-family: 'pt';
    position: relative;
    left: 50%;
	opacity: 0.6;
    margin: 20px 0px 50px -28px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -khtml-border-radius: 100px;
    cursor: pointer;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    float: left;
}
.arr a {
    width: 56px;
    height: 50px;
    display: block;
}


.arr:before,
.arr:after {
	content:"";
	width: 30px;
	display: block;
	position: absolute;
	top: 23px;
	left: 0;
    border-bottom: 2px solid #fff;
	opacity: 1;
	-o-transition:      all 0.5s linear;
	-moz-transition:    all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	transition:         all 0.5s linear;
	-moz-transform:    rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform:      rotate(30deg);
	-ms-transform:     rotate(30deg);
	transform:         rotate(30deg);
}
.arr:after {
	-moz-transform:    rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform:      rotate(-30deg);
	-ms-transform:     rotate(-30deg);
	transform:         rotate(-30deg);
	left: 26px;
}




#uslugi {
	margin-top: -30px;
	padding-top: 30px;
}

div.title {
	width: 100%;
	margin: 0px 0px 50px 0px;
	font-size: 35px;
	color: #fff;
	font-family: trajanpro3-regular;
	text-align: center;
	float: left;
}
.title p,
.slogan p {
	display: inline-block;
	position: relative;
}
.title p:before,
.slogan p:before,
.title p:after,
.slogan p:after {
	content:"";
	border-bottom: 1px solid rgba(255,255,255,0.2);
	position: absolute;
	top: 18px;
	left: -1000%;
	right: 100%;
	margin: 0px 20px 0px 0px;
}
.slogan p:before,
.slogan p:after {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	top: 13px;
}
.title p:after,
.slogan p:after {
	right: -1000%;
	left: 100%;
	margin: 0px 0px 0px 20px;
}
.title span {
	color: #f6cb0b;
}




div.uslugi_bl {
	width: 100%;
	margin: 0px 0px 60px 0px;
	position: relative;
	text-align: center;
	float: left;
}
.portf_cont .uslugi_bl {
	margin-bottom: 0;
}

div.uslugi_blok {
	width: 30%;
	overflow: hidden;
	position: relative;
	float: left;
}
.uslugi_blok:before {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.uslugi_blok:hover:before {
	background: rgba(0,0,0,0.4);
}
div.uslugi_blok:nth-child(3),
div.uslugi_blok:nth-child(4) {
	width: 40%;
}
.uslugi_blok img {
	width: 100%;
	float: left;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.uslugi_blok:hover img {
	transform:         scale(1.1);   
	-ms-transform:     scale(1.1);  
	-moz-transform:    scale(1.1); 
	-o-transform:      scale(1.1); 
	-webkit-transform: scale(1.1);
}

.uslugi_blok span {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 2;
	margin: -11px 0px 0px 0px;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.uslugi_blok a:before {
	content:"";
	position: absolute;
	top: -300px;
	left: 0;
	bottom: -300px;
	right: 0;
	z-index: 2;
}





div.portf_cont {
	width: 100%;
	float: left;
}
.portf_cont .uslugi_title {
	margin: 35px 0px 30px;
}
.portf_cont .uslugi_vid {
	width: 101%;
	margin-left: 0%;
	margin-right: 0%;
}

div.portf_images {
	width: 25%;
	position: relative;
	overflow: hidden;
	float: left;
}
.portf_images:before {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.portf_images:hover:before {
	background: rgba(0,0,0,0.3);
}

.portf_images a {
    width: 100%;
	display: block;
	position: relative;
	float: left;
}
.portf_images a:before {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
}

.portf_images img {
	width: 100%;
	float: left;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.portf_images:hover img {
	transform:         scale(1.1);   
	-ms-transform:     scale(1.1);  
	-moz-transform:    scale(1.1); 
	-o-transform:      scale(1.1); 
	-webkit-transform: scale(1.1);
}
div.portf_text {
	padding: 0px 15px;
	position: absolute;
	left: 0;
	top: 15px;
	right: 0;
	z-index: 3;
	color: #fff;
	text-align: left;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.portf_text span {
	font-size: 17px;
	text-transform: uppercase;
	display: block;
	margin: 0px 0px 8px 0px;
}


.portf_date, .portf_info {
	width: 60%;
    position: relative;
    opacity: 0;
    top: -130px;
    -o-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    transition-timing-function: ease-in-out;
}
.portf_info {
	top: -180px;
	font-size: 14px;
}

.portf_images:hover .portf_info,
.portf_images:hover .portf_date {
	opacity: 0.7;
	top: 0;
}
.portf_images:hover .portf_info {
	top: 15px;
}



.none {
	background: rgba(0,0,0,0.5);
}
.none img {
	background: rgba(0,0,0,0.9);
	opacity: 0.3;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	margin: 0px !important;
}
.none:before {
    background: rgba(0,0,0,0.3) !important;
}


div.main_text {
    background: #333;
    width: 84%;
    padding: 50px 8%;
    margin: 0px 0px -40px 0px;
    font-size: 17px;
    line-height: 26px;
    color: #fff;
	text-align: center;
	text-transform: uppercase;
    float: left;
}
h1 {
    font-size: 25px;
	color: #fff;
	font-weight: lighter;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 5px 0px;
	/* border-bottom: 4px solid rgba(255,255,255,0.2); */
	display: inline-block;
}
.main_text p {
	margin: 0px 0px 30px 0px;
	opacity: 0.8;
}




div.form_bot {
	background: #191919;
	width: 660px;
	padding: 80px 0px 0px 0px;
	margin: 0px 0px 0px -110px;
	position: relative;
	z-index: 2;
	-moz-box-shadow:    0 40px 50px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 40px 50px rgba(0,0,0,0.8);
	box-shadow:	        0 40px 50px rgba(0,0,0,0.8);
	float: right;
}
.form_bot input[type="text"] {
	background: none;
	width: 90%;
	padding: 28px 5%;
	border: 2px solid #ffd000;
	font-size: 20px;
	color: #f6cb0b;
	position: relative;
	font-family: 'light';
	opacity: 0.7;
	float: left;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.form_bot input[type="text"]:focus {
	opacity: 1;
}

.form_bot div {
	width: 80%;
	margin: 0px 0px 40px 10%;
	position: relative;
	float: left;
}
/* .form_bot div:before {
	content:"";
	border: 2px solid #f6cb0b;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
} */
.submit {
	background: #ffd000;
	width: 80%;
	margin: 0px 10% 50px;
	padding: 28px 0;
	text-align: center;
	font-size: 25px;
	color: #191919;
	font-family: 'light';
	cursor:pointer;
	float: left;
}


.form_bot ::-webkit-input-placeholder { 
    color:    #f6cb0b;
   font-family: 'light';
}
.form_bot :-moz-placeholder { 
   color:    #f6cb0b;
   font-family: 'light';
}
.form_bot ::-moz-placeholder {
   color:    #f6cb0b;
   font-family: 'light';
}
.form_bot :-ms-input-placeholder {
   color:    #f6cb0b;
   font-family: 'light';
}

input, textarea {outline:none;} 
input:active, textarea:active {outline:none;}
:focus {outline:none;} 
input {
    -webkit-appearance: none;
}










div.page_over {
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	overflow: auto;
}

div.page_center {
	max-width: 1200px;
	min-width: 250px;
	margin: 0px auto;
	padding: 50px 10px;
}



div.page_video {
	background: #fff;
	width: 100%;
	margin: 0px 0px 40px 0px;
	float: left;
}

.page_center h1 {
	width: 100%;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
	font-size: 25px;
	color: #fff;
	font-weight: lighter;
	float: left;
}

div.page_text {
	width: 100%;
	margin: 0px 0px 40px 0px;
	color: #c6c6c6;
	line-height: 21px;
	float: left;
}








div.footer_cont {
	margin: 0px 550px 0px 0px;
}
div.footer {
	background:url(images/footer.jpg);
	width: 100%;
	height: 612px;
	margin: 40px 0px 0px 0px;
	position: relative;
	float: left;
}




div.footer_text {
	width: 315px;
	margin: -100px 0px 0px -217px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 17px;
	color: #f6cb0b;
	font-family: 'light';
	float: left;
}
.footer_text p {
	font-size: 35px;
	color: #f6cb0b;
	margin: 0px 0px 10px 0px;
}
.footer_text span {
	font-size: 21px;
	color: #fff;
	margin: 15px 0px 20px 0px;
	display: block;
}

div.call_back {
	background: rgba(246, 203, 11, 0.1);
	padding: 21px 35px;
	font-size: 20px;
	color: #f6cb0b;
	border: 2px solid #f6cb0b;
	display: inline-block;
	cursor:pointer;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.call_back:hover {
	background: rgba(246, 203, 11, 0.2);
}






/****************************************** КОНТАКТЫ ***********************************************/


.page-id-14 .content_ceni {
	top: 0;
}



div.kont_text {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	margin: -200px 0px 0px -150px;
	font-size: 24px;
	color: #eeeeee;
	font-family: 'light';
	text-align: center;
}
.kont_text .call_back {
	background: #0d0d0d;
    margin: 30px 0px;
    color: #fff;
    border: none;
}
.kont_text .call_back:hover {
	background: #0d0d0d;
	text-shadow: 0px 0px 10px #fff;
}

.bott_text {
	line-height: 19px;
}

.mid_text {
	font-size: 20px;
}
.min_text {
	font-size: 14px;
	line-height: 17px;
	display: block;
	margin: 12px 0px;
}




div.sety {
	width: 100%;
	text-align: center;
	float: left;
}
.sety a {
	display: inline-block;
	margin: 0px 10px 0px;
	opacity: 0.8;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.sety a:hover {
	opacity: 1;
}








 



div.overlay {
    background:rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2010;
    display: none;
}
div.popup {
    background:#fff;
    width: 390px;
	padding: 0px 30px;
    margin: 0px 0px 0px -225px;
    position: fixed;
    top: -700px;
    left: 50%;
    -moz-box-shadow:    0 5px 20px rgba(0,0,0,1);
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,1);
    box-shadow:	        0 5px 20px rgba(0,0,0,1);
    z-index: 2011;
    text-align: center;
}




div.in_top {
    background: rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 50px;
    margin: -90px 0px 0px -25px;
    position: relative;
    left: 50%;
    line-height: 61px;
    font-size: 31px;
    color: #fff;
    text-align: center;
    font-family: 'pt';
    z-index: 2;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -khtml-border-radius: 100px;
    cursor: pointer;
    float: left;
    clear: left;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
div.in_top:hover {
    background: rgba(255, 255, 255, 0.3);
}
.in_top:before,
.in_top:after {
	content:"";
	width: 15px;
	display: block;
	position: absolute;
	top: 23px;
	left: 11px;
    border-bottom: 2px solid #fff;
	opacity: 1;
	-o-transition:      all 0.5s linear;
	-moz-transition:    all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	transition:         all 0.5s linear;
	-moz-transform:    rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform:      rotate(-30deg);
	-ms-transform:     rotate(-30deg);
	transform:         rotate(-30deg);
}
.in_top:after {
	-moz-transform:    rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform:      rotate(30deg);
	-ms-transform:     rotate(30deg);
	transform:         rotate(30deg);
	left: 24px;
}


div.footer_min {
	background: #191919;
	width: 100%;
	line-height: 23px;
	padding: 30px 0px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	float: left;
}





div.content .popup {
    position: relative;
    top: 0px;
    left: 0;
    z-index: 2;
    margin: 0px 0px 0px 45px;
    float: left;
}
div.close {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor:pointer;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.close:before,
.close:after {
	content:"";
    background:#333;
    width: 1px;
    height: 21px;
    position: absolute;
	top: 0;
	left: 50%;
	-moz-transform:    rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:      rotate(45deg);
	-ms-transform:     rotate(45deg);
	transform:         rotate(45deg);
}
.close:after {
	-moz-transform:    rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform:      rotate(-45deg);
	-ms-transform:     rotate(-45deg);
	transform:         rotate(-45deg);
}
input, textarea {outline:none;} 
input:active, textarea:active {outline:none;}
:focus {outline:none;} 
.popup p {
    font-size: 20px;
    color: #757575;
    margin: 20px 0px 10px 0px;
}
.popup input[type="text"],
.popup input[type="email"],
.popup textarea {
    background: #fff;
    width: 94%;
    border: 1px solid #ccc;
    margin: 10px 0px 5px 0px;
    padding: 15px 3%;
    float: left;
    clear: left;
}
.popup textarea {
    height: 90px;
}
.popup input[type="submit"] {
    background: #f6cb0b;
    width: 250px;
    margin: 20px 0px 30px -125px;
    position: relative;
    left: 50%;
    padding: 15px;
    color: #333;
    font-size: 17px;
    cursor:pointer;
    float: left;
    clear: left;
}

.popup ::-webkit-input-placeholder {
    font-family: 'gothamproregular';
}
.popup :-moz-placeholder {
    font-family: 'gothamproregular';
}
.popup ::-moz-placeholder {
    font-family: 'gothamproregular';
}
.popup :-ms-input-placeholder {
    font-family: 'gothamproregular';
}


.menu_show {
   display: none;
}









/****************************************** ГАЛЕРЕЯ ***********************************************/


.category .over {
	overflow: inherit;
}
.category .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}



div.gallery_over,
div.content_over {
	background: rgba(0,0,0,0.3);
	width: 100%;
	position: relative;
	top: 102px;
	left: 0;
	bottom: 0;
	right: 0;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
	float: left;
}



div.gallery_cont {
	white-space: nowrap;
}





div.gallery_menu {
	background-size: cover;
	width: 375px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: -10px;
	z-index: 2;
	float: left;
}
.gallery_menu:before {
	content:"";
	border: 1px solid rgba(255,255,255,0.03);
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	z-index: 1;
}
.gallery_menu:after {
	content:"";
	border: 1px solid rgba(255,255,255,0.03);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20%;
	z-index: 1;
}



div.cat_text_slide {
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	white-space: normal;
	transform:			translate(-335px,0);
    -webkit-transform:  translate(-335px,0);
    -o-transform:		translate(-335px,0);
    -moz-transform:		translate(-335px,0);
	-o-transition:      all 0.6s linear;
	-moz-transition:    all 0.6s linear;
	-webkit-transition: all 0.6s linear;
	transition:         all 0.6s linear;
	transition-timing-function: ease-in-out;
}
div.cat_text_go {
	background:#000;
	transform:			translate(0px,0);
    -webkit-transform:  translate(0px,0);
    -o-transform:		translate(0px,0);
    -moz-transform:		translate(0px,0);
}

div.cat_text {
	position: absolute;
	top: 30px;
	left: 20px;
	bottom: 20px;
	right: 60px;
	color: #a2a2a2;
	line-height: 20px;
	text-align: justify;
}

.cat_text table {
	height: 100%;
}

div.close_text {
	width: 40px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	cursor:pointer;
	opacity: 0.4;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.close_text:hover {
	opacity: 1;
}
.close_text:before,
.close_text:after {
	content: "";
    width: 30px;
    display: block;
    position: absolute;
    top: 50%;
    left: 6px;
	margin: -10px 0px 0px 0px;
    border-bottom: 2px solid #fff;
    opacity: 1;
    -o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
    transition: all 0.5s linear;
    -moz-transform:    rotate(60deg);
	-webkit-transform: rotate(60deg);
	-o-transform:      rotate(60deg);
	-ms-transform:     rotate(60deg);
	transform:         rotate(60deg);
}
.close_text:after {
	-moz-transform:    rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	-o-transform:      rotate(-60deg);
	-ms-transform:     rotate(-60deg);
	transform:         rotate(-60deg);
	margin: 16px 0px 0px 0px;
}


.cat_text_go .close_text:before,
.cat_text_go .close_text:after {
	-moz-transform:    rotate(120deg);
	-webkit-transform: rotate(120deg);
	-o-transform:      rotate(120deg);
	-ms-transform:     rotate(120deg);
	transform:         rotate(120deg);
}
.cat_text_go .close_text:after {
	-moz-transform:    rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	-o-transform:      rotate(-120deg);
	-ms-transform:     rotate(-120deg);
	transform:         rotate(-120deg);
	left: 6px;
}



.gallery_menu ul {
	position: relative;
	top: 50%;
	z-index: 2;
	margin: -130px 0px 0px 80px;
	float: left;
}
.gallery_menu li {
	width: 200px;
	float: left;
	clear: left;
}
.gallery_menu a {
	position: relative;
	display: block;
	padding: 10px 0px;
	font-size: 20px;
	opacity: 0.7;
	font-family: light;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.gallery_menu a:before {
	content:"";
	width: 50px;
	border-bottom: 1px solid #fff;
	position: absolute;
	top: 21px;
	left: -110px;
	opacity: 0.2;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
	display: none;
}
.gallery_menu a:hover:before {
	left: -50px;
}
.gallery_menu a:hover {
	padding-left: 15px;
	opacity: 1;
	text-shadow: 0px 0px 10px #fff;
}


.gallery_menu .act a {
	text-shadow: 0px 0px 10px #f6cb0b;
	color: #f6cb0b;
	opacity: 1;
	padding-left: 0px;
	float: left;
}
.gallery_menu .act a:before {
	width: 20px;
	left: 110%;
	border-bottom: 1px solid #f6cb0b;
	opacity: 0.5;
	-moz-box-shadow:    0 0 10px #f6cb0b;
	-webkit-box-shadow: 0 0 10px #f6cb0b;
	box-shadow:	        0 0 10px #f6cb0b;	
}


div.gallery_lines {
    margin: 0px 0px 0px 375px;
	white-space: normal;
}

div.gallery_line {
	height: 33%;
	float: left;
}

.gallery_line .portf_images {
	width: 500px;
}






#swipebox-overlay img {
  border: none !important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#swipebox-slider {
  -webkit-transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer;
}
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-cost {
	width: 100%;
    margin: 30px 0px 100px 0px;
    white-space: normal;
    line-height: normal;
    color: #dcdcdc;
	text-align: left;
    float: left;
}

#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-slider .slide-loading {
  background: url(images/loader.gif) no-repeat center center;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  -webkit-transition: 0.5s;
          transition: 0.5s;
  position: fixed;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

#swipebox-bottom-bar {
  bottom: -50px;
}
#swipebox-bottom-bar.visible-bars {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

#swipebox-top-bar {
  top: -50px;
}
#swipebox-top-bar.visible-bars {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}

#swipebox-title {
  display: block;
  width: 100%;
  text-align: center;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(images/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
}

#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

#swipebox-prev {
  background-position: -32px 13px;
  float: left;
}

#swipebox-next {
  background-position: -78px 13px;
  float: right;
}

#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px;
}

.swipebox-no-close-button #swipebox-close {
  display: none;
}

#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3;
}

.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  -webkit-animation: rightSpring 0.3s;
          animation: rightSpring 0.3s;
}
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  -webkit-animation: leftSpring 0.3s;
          animation: leftSpring 0.3s;
}

.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0;
}
.swipebox-touch #swipebox-container:before {
  left: 0;
  -webkit-box-shadow: inset 10px 0px 10px -8px #656565;
          box-shadow: inset 10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-container:after {
  right: 0;
  -webkit-box-shadow: inset -10px 0px 10px -8px #656565;
          box-shadow: inset -10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1;
}
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1;
}

@-webkit-keyframes rightSpring {
  0% {
    left: 0;
  }

  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}

@keyframes rightSpring {
  0% {
    left: 0;
  }

  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    left: 0;
  }

  50% {
    left: 30px;
  }

  100% {
    left: 0;
  }
}
@keyframes leftSpring {
  0% {
    left: 0;
  }

  50% {
    left: 30px;
  }

  100% {
    left: 0;
  }
}
@media screen and (min-width: 800px) {
  #swipebox-close {
    right: 10px;
  }

  #swipebox-arrows {
    width: 92%;
    max-width: 800px;
  }
}
/* Skin 
--------------------------*/
#swipebox-overlay {
  background: #0d0d0d;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: 1px 1px 1px black;
  background: #000;
  opacity: 0.95;
}

#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}







/****************************************** ГАЛЕРЕЯ ФОТО ***********************************************/




div.foto_cont {
	width:100%;
	margin: 0px 0px 20px 0px;
	float: left;
}

div.foto_title {
	width: 100%;
	float: left;
}


div.foto_bl {
	width: 33%;
	padding: 0px 5px 0px;
	margin: 0px 0px 10px 0px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	float: left;
}
.foto_bl a {
	position: absolute;
	top: 0;
	left: 5px;
	bottom: 0;
	right: 5px;
	z-index: 2;
	overflow: hidden;
}
.foto_bl img {
	width: 100%;
	opacity: 0.7;
	-o-transition:      all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition:         all 0.2s ease;
}
.foto_bl img:hover {
	transform:         scale(1.1);   
	-ms-transform:     scale(1.1);  
	-moz-transform:    scale(1.1); 
	-o-transform:      scale(1.1); 
	-webkit-transform: scale(1.1);
	opacity: 1;
}




















/****************************************** ЦЕНЫ ***********************************************/





div.ceni_bl {
	width: 16.666%;
	z-index: 2;
	overflow: hidden;
	position: relative;
	float: left;
}


div.ceni_title {
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 4;
    padding: 14px 0px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    float: left;
}
.ceni_hover:hover .ceni_title {
	background: none;
}





div.ceni_img {
	background-size: cover !important;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	opacity: 1;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.ceni_hover:hover .ceni_img {
	opacity: 0;
}
.ceni_img img {
	width: 300px;
}



div.ceni_cont {
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	opacity: 0;
	text-align: center;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.ceni_hover:hover .ceni_cont {
	opacity: 1;
}
.ceni_bl ul {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
.ceni_bl li {
	margin: 0px 0px 10px 0px;
	font-size: 16px;
	color: #fff;
}
.ceni_bl span {
	position: relative;
}
.ceni_bl li span:before {
	content:"-";
	position: absolute;
	top: -2px;
	left: -15px;
}



div.cena {
    width: 100%;
    margin: 30px 0px 30px 0px;
    font-family: 'gothamproregular';
    font-size: 25px;
    color: #fefefe;
    position: absolute;
    left: 0;
    bottom: 200px;
    z-index: 2;
    float: left;
}
div.cena_zakaz, div.cena_more {
    background: #b9b9b9;
    width: 190px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 2;
    padding: 13px 0px;
    margin: 0px 0px 0px -95px;
    font-family: 'gothamproregular';
    font-size: 15px;
    color: #0e0e0e;
    cursor: pointer;
    float: left;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.cena_zakaz:hover,
.cena_more:hover {
	background: #dcdcdc;
}

div.cena_more {
	bottom: 130px;
}



div.ceni_vid,
div.ceni_foto {
	background: #000;
	width: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}


div.ceni_foto {
	left: 0;
	right: auto;
}

.tabs_go {
	transform:			translate(-255px,0);
    -webkit-transform:  translate(-255px,0);
    -o-transform:		translate(-255px,0);
    -moz-transform:		translate(-255px,0);
}
.tabs_go2 {
	transform:			translate(255px,0);
    -webkit-transform:  translate(255px,0);
    -o-transform:		translate(255px,0);
    -moz-transform:		translate(255px,0);
}






/****************************************** АДАПТИВ ***********************************************/



				@media screen and (max-width: 1366px){




div.slogan {
    margin: -180px 0px 0px 100px;
}
.slogan p {
    font-size: 24px;
}
.slogan span {
    font-size: 21px;
}
div.call_back {
    padding: 18px 33px;
    font-size: 17px;
}

div.in_top {
    margin: -75px 0px 0px 25px;
    left: 0;
}

div.portf_images {
    width: 25%;
}


div.content_ceni {
	position: relative;
	width: 100%;
	float: left;
}

div.ceni_bl {
    width: 33.333%;
	height: 600px !important;
}

.ceni_bl ul {
    top: 140px;
}
div.cena {
    bottom: 180px;
}



}

				@media screen and (max-width: 1200px){


div.main_bl {
    height: 550px;
}
div.logo {
    margin: -48px 0px 0px -152px;
}
div.slogan {
    margin: -220px 0px 0px -164px;
    text-align: center;
}



div.form_bot {
    width: 530px;
}
div.footer_cont {
    margin: 0px 420px 0px 0px;
}

div.in_top {
    margin: -75px 0px 0px -25px;
    left: 50%;
}


}






				@media screen and (max-width: 1200px){




div.form_bot {
    width: 100%;
}
div.footer_cont {
	width: 100%;
    margin: 0px;
}
div.footer {
    margin: 0;
}
div.footer_text {
    margin: -100px 0px 0px -157px;
}



}





				@media screen and (max-width: 1024px){


.category .header {
    position: absolute;
}
.portf_images:before {
    display: none;
}

.portf_info,
.portf_date {
	width: 100%;
    opacity: 0.7;
    top: 0;
}
.portf_info {
    top: 15px;
}




div.gallery_over {
    position: relative;
    top: 102px;
}

div.gallery_lines {
	width: 100%;
	margin: 0;
	float: left;
}

div.gallery_line {
    width: 100% !important;
    height: auto !important;
}

.gallery_line .portf_images {
    width: 100% !important;
	height: auto !important;
}

div.gallery_menu {
	background-size: cover !important;
    width: 100%;
    height: auto !important;
	position: relative;
}
div.cat_text_slide {
	display: none;
}
.gallery_menu ul {
    margin:  0px;
	padding: 20px 0px 20px;
}
.gallery_menu li {
    width: auto !important;
    margin: 0px 20px 0px;
    float: left;
    clear: none;
}
.gallery_menu a {
    font-size: 15px;
}
.gallery_menu a:hover {
    padding-left: 0;
}


.page-id-14 .content_ceni {
    position: fixed;
    top: 100px !important;
}

}





				@media screen and (max-width: 820px){



div.uslugi_bl {
    width: 101%;
}
.portf_cont .uslugi_vid {
    width: 100%;
}





}




				@media screen and (max-width: 750px){





.main_menu ul {
    background: #151515;
    width: 300px;
    padding: 40px 0px 0px 0px;
    position: fixed;
    left: -350px;
    bottom: 0;
    top: 0;
    z-index: 10;
    -moz-box-shadow: 0 0 40px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.9);
    box-shadow: 0 0 40px rgba(0,0,0,0.9);
	-o-transition:      all 0.6s ease-in-out;
	-moz-transition:    all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	transition:         all 0.6s ease-in-out;
}
.menu_active ul {
	left: 0;
}
.main_menu li {
    margin: 0px 15px 20px;
    clear: left;
}
.main_menu a {
    opacity: 1 !important;
}

.menu_show {
	width: 30px;
	height: 20px;
	display: block;
    position: relative;
	top: 2px;
    z-index: 11;
    -o-transition:      all 0.2s linear;
    -moz-transition:    all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition:         all 0.2s linear;
}
.menu_show span {
	width: 30px;
	display: block;
	position: absolute;
    border-bottom: 2px solid #f6cb0b;
	opacity: 1;
	-o-transition:      all 0.5s linear;
	-moz-transition:    all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	transition:         all 0.5s linear;
	transition-timing-function: cubic-bezier(.22, .81, .01, .99);
}
.line1 {
	top: 0px;
}
.line2,
.line3 {
	top: 6px;
}
.line4 {
	top: 12px;
}

.menu_active .line1,
.menu_active .line4 {
	opacity: 0;
}
.menu_active .line2 {
  -moz-transform:    rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform:      rotate(135deg);
  -ms-transform:     rotate(135deg);
  transform:         rotate(135deg);
}
.menu_active .line3 {
  -moz-transform:    rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform:      rotate(45deg);
  -ms-transform:     rotate(45deg);
  transform:         rotate(45deg);
}


div.slogan {
    width: 100%;
    margin: 0;
    top: 70px;
    left: 0;
}


div.title {
    font-size: 25px;
}
.title p:before, .slogan p:before, .title p:after, .slogan p:after {
    top: 11px;
}




div.portf_min {
	display: none;
}

div.form_bot {
    padding: 50px 0px 0px 0px;
}

.form_bot div {
	width: 90%;
    margin: 0px 0px 20px 5%;
}



div.uslugi_blok {
	width: 50% !important;
}

div.portf_images {
    width: 20%;
}



div.ceni_bl {
    width: 100%;
    height: 210px !important;
    -o-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    transition-timing-function: ease-in-out;
}
div.ceni_go {
	height: 630px !important;
}


div.ceni_cont {
	background:url(images/fon.jpg) no-repeat top;
    opacity: 0;
	top: 150px;
	-o-transition:      all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition:         all 0.2s linear;
}
.ceni_go .ceni_cont {
    opacity: 1;
	transition-delay: 0.3s;
}
.ceni_bl ul {
    top: 50px;
}


}





				@media screen and (max-width: 650px){
				
				
div.portf_images {
    width: 50%;
}




}








				@media screen and (max-width: 530px){


div.name {
    margin: 28px 30px 26px 15px;
    font-size: 20px;
	float: left;
}
.name:before {
    display: none;
}

div.main_menu {
    margin: 30px 15px 0px 0px;
    float: right;
}
.main_menu ul {
    width: 262px;
}

.slogan p {
    font-size: 20px;
}
.slogan p:before, .slogan p:after {
    top: 9px;
}
.slogan span {
    font-size: 21px;
}

div.popup {
    width: 270px;
    padding: 0px 15px;
    margin: 0px 0px 0px -150px;
}
.popup input[type="submit"] {
    width: 270px;
    margin: 20px 0px 15px -135px;
}

div.gallery_over {
    top: 78px;
}

div.portf_images {
    width: 100%;
	height: auto !important;
}

.submit {
    font-size: 17px;
}

.portf_cont .uslugi_vid {
    margin: 0;
}



div.call_back {
    padding: 16px 30px;
    font-size: 15px;
}

div.logo {
	top: auto;
	bottom: 100px;
}


.page-id-14 .content_ceni,
.content_over  {
    top: 78px !important;
}

}





				@media screen and (max-width: 430px){



div.logo {
    margin: 35px 0px 0px -75px;
}

.logo img {
    width: 150px;
}


div.name {
    margin: 28px 30px 26px 15px;
    font-size: 20px;
	float: left;
}
.name:before {
    display: none;
}

div.main_menu {
    margin: 30px 15px 0px 0px;
    float: right;
}
.main_menu ul {
    width: 262px;
}


.footer_text p {
	font-size: 30px;
}


div.uslugi_blok {
    width: 100% !important;
	height: 170px !important;
}

}



@font-face {
    font-family: 'gothamproregular';
    src: url('fonts/gothamproregular.eot');
    src: url('fonts/gothamproregular.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamproregular.woff') format('woff'),
         url('fonts/gothamproregular.ttf') format('truetype');
}
@font-face {
    font-family: 'light';
    src: url('fonts/light.eot');
    src: url('fonts/light.eot?#iefix') format('embedded-opentype'),
         url('fonts/light.woff') format('woff'),
         url('fonts/light.ttf') format('truetype');
}
@font-face {
    font-family: 'trajanpro3-regular';
    src: url('fonts/trajanpro3-regular.eot');
    src: url('fonts/trajanpro3-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/trajanpro3-regular.woff') format('woff'),
         url('fonts/trajanpro3-regular.ttf') format('truetype'),
         url('fonts/trajanpro3-regular.svg#trajanpro3-regular') format('svg');
}